// assignments
$errors:#FF6868;
$success:#3FFF7E;
$main-font:'Nunito', sans-serif;
$theme-color:#282C34;
$subtle-color:#cecece;
$alternate:#fff;
$button:#808080;

body{
  background-color:#e9e9e9;
}


// messages
.error{
  padding:.5%;
  width:30%;
  border-radius:3px;
  color:$alternate;
  background-color:$alternate;
  -webkit-transition:background .5s;
}

.success{
  @extend .error;
  background-color:$alternate;
}

.side-menu{
  background-color:$theme-color;
  height:100vh;
  overflow-y:scroll;
}

.right-module{
  font-family:$main-font;

  h3{
    padding:1% 0%;
    border-bottom:1px solid rgba($theme-color, .5);
    width:50%;
  }
}

.mini-board{
  box-shadow: 0 0 2px 2px rgba(#999, 0.4);
  padding:1% 2%;
  margin:2% 0%;
  background-color:$alternate;

  table{
    width:100%;
  }

  td{
    padding:1%;
  }

  tr:nth-child(even){
    background-color:$subtle-color;
  }
}



// imports
@import "form-design";
